
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
.full-nav{
  width: 100%;
}
.nav-bg{
  background-color: #000 !important;
}
.nav-right{
  margin-left: 450px;
  background-color: #000;
}
.nav-head{
  margin-left: 100px !important;
  color:#F6F1E9 !important;
  font-size: 32px !important;
}
.gap{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px !important;
  color: #F6F1E9 !important;
}
.gap:hover{
  color: #0ef !important;
}


/* Home */
.bg-clr{
  background-color: #000;
  border-color: #000;
}
.txt-clr{
  color: #F6F1E9 !important;
}
.main-header{
  font-size: 66px;
  font-weight: 700;
}
.main-txt{
  font-size: 19px;
  margin-top: 25px;
}
.card-margin{
  margin-top: 5%;
  margin-left: 5%;
}
.shift-right{
  float: right !important;
}
.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.1rem solid #0ef;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #0ef;
  margin: 3rem 1.5rem 3rem 0;
  text-decoration: none;
  transition: 0.3s;

}
.social-media a:hover{
  background: #0ef;
  color: #323946;
  opacity: 0.9;
  box-shadow: 0 0 0.2rem #0ef;
}
.pro-icon{
  margin-top: -35px;
  margin-bottom: -30px;
}

/* About */
.bg-about{
  /* background-color: #1f241f; */
  background-color: #000;
}
.about{
  /* padding-top: 50px; */
  padding-bottom: 50px;
}
.about-header{
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px !important;
  color: #F6F1E9;
  color: #0ef;
  /* opacity: 0.8; */
  /* border-bottom: 5px solid red; */
}
.about-card{
  margin: auto;
  width: 60%;
  background-color: #000 !important;
}
.about-txt1{
  font-size: 28px !important;
  color: #F6F1E9 !important;
  text-align: center;
  /* opacity: 0.8; */
  /* margin-top: 10px; */
}
.about-txt2{
  font-size: 19px !important;
  color: #F6F1E9 !important;
  margin-bottom: -0%;
  text-align: center;
  line-height: 30px;
  /* opacity: 0.8; */
}
.about-txt3{
  font-size: 19px !important;
  color: #F6F1E9 !important;
  margin-bottom: -0%;
  text-align: center;
  /* line-height: 33px; */
  width: 60%;
  margin: auto;
  /* opacity: 0.8; */
}
/* skills */
.skill-card{
  margin: auto;
  width: 70%;
  background-color: #000 !important;
}
.skill-box{
  padding-right: 35px !important;
  padding-left: 35px !important;
}
.bg-skills{
  background-color: #000;
}
.skills-hold{
  width: 60%;
  margin: auto;
  text-align: center;
}
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: #d53567;
  /* background-image: linear-gradient(90deg, #fff400, #d53567 50%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

.skills__data{
  box-shadow: 0 4px 15px rgba(225, 225, 255, 0.3);
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.skills__names{
  display: flex;
  align-items: center;
  color: #F6F1E9 !important;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #fff400, #ffa601, #ff9f05 ,#f3503c, #ee4248, #d53567);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__img{
  border-radius: .5rem;
}
.skill-header{
  font-size: 24px !important;
  color: #F6F1E9;
  margin-bottom: 30px !important;
  margin-top: 20px;
}

/* Projects */
.projects{
  background-color: #000;
}
.text-highlight-2{
  color: #0ef;
}
.project-header{
  padding-top: 70px;
  /* margin-top: 100px; */
}
.project-header1{
  padding-top: 100px;
  /* margin-top: 100px; */
}
.project-card{
  margin: auto;
  width: 70%;
  background-color: #000 !important;
}
.blog-post__info{
  margin-left: -5%;
}
.blog-post__img img{
  width: 100%;
}

.blog-post{
  box-shadow: 20px 20px 50px rgba(0,0,0,1);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  /* background: #1f241f; */
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  padding:0.75rem 3rem;
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.blog-post__img{
  max-width:100%;
  transform: translateX(-8rem);
  position: relative;
}

.blog-post__img img{
  min-width: 75vh;
  max-width: 80vh;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-post__img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px  rgba(0,0,0,1);
  border-radius: .8rem;
  z-index: 2;
}

.blog-post__title{
  font-size:30px;
  margin: 1rem 0 2rem;
  color: #0ef;
  /* background: linear-gradient(45deg, #fff400,#f3503c, #d53567, #A7489B); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
/* .blog-post__title:hover{
  letter-spacing: 3px;
  transition: letter-spacing 2s ease-in-out;
  background: linear-gradient(-45deg, #fff400, #ffa601 ,#f3503c, #A7489B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.blog-post__text{
  margin-bottom: 1rem;
  color: lightgrey;
  font-size: 17px;
}


.project-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.project-icons li
{
  display:inline-block;
}

.project-icons a{
  background-color:rgb(68, 68, 68);
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.project-icons a:active,.project-icons a:focus,.project-icons a:hover
{
  background: #000;
}

.project-technologies{
  margin: 0px auto;
  color: #dddddd;
}

#work{
  padding:0% 15%;
}
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/* EXPERIENCE */
.experience-header{
  padding-top: 100px;
}

.exp-txt2{
  margin-top: -20px;
}
.text-color{
  color: #F6F1E9;
}


/* Work Experience */
.experience{
  margin: auto;
}
.timeline {
    position: relative;
    width: 75%;
    /* margin: 60px auto; */
    margin: 60px auto 0px;
}

.timeline-box {
    padding: 5px;
    width: 45%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 2px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed;
    /* border-image: linear-gradient(#fff400, #ffa601 ,#f3503c, #d53567, #A7489B); */
    border-image:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,238,255,1) 100%);
    border-image-slice: 1;
    height: 86%;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #fff;
    text-shadow: 0px 4px 16px rgba(255,255,255,.8);
}

.experience-designation {
    font-size: 1.4rem;
    text-align: left;
    margin: 10px 0px;
    color: #F6F1E9;
}

.experience-company-name {
    margin: 3px 0 0;
    color: #0ef;
    /* background: linear-gradient(45deg, #fff400, #ffa601 ,#f3503c, #d53567, #A7489B);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 18px;
    text-align: left;
}

.experience-duration {
    font-weight: 100;
    color: #dddddd;
    font-size: 1rem;
    text-align: left;
    margin: 5px 0px;
}

.experience-description {
    font-size: 17px;
    /* padding: 2px; */
    color: lightgrey;
    line-height: 24px;
    margin-top: -0.3px;
  margin-bottom: -0.3px;
}

.text-align-justify {
    text-align: left;
}



.mb75px {
    margin-bottom: 75px;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    text-align: center;
}

.expEdu-title{
  position: relative;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.expEdu-title::after{
  position: absolute;
  content: "";
  width: 170px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  border-bottom: 3px solid ;
  border-image: linear-gradient(45deg, #fff400, #ffa601 ,#f3503c, #d53567, #A7489B);
  border-image-slice: 1;
}
.skills-clr{
  color: #0ef !important;
}
/* .timeline{
  position: relative;
  min-height: 150px;
}
.line{
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #0ef;
  display: none;
}

.line:before,
.line:after{
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #0ef;
  left: 50%;
  transform: translateX(-50%);
}
.line:after{
  bottom: 0;
}
.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}
.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #0ef;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.content{
  width: calc(50% - 2rem);
}
.show-me:nth-child(n){
  transform: none;
  opacity: 1;
} */
/* ===== FOOTER =====*/
.footer{
    background-color: #000;
    color: grey;
    box-shadow: 8px -4px 8px rgba(146,161,176,.25);
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
  }
  
  .footer-name:hover{
    letter-spacing: 0.1rem;
    transition: letter-spacing 1s ease-out;
  }
  
  .footer__social{
    margin: 20px auto 30px;
  }
  
  .footer__icon:nth-child(4n+1){
    font-size: 1.5rem;
    padding: 8px 13px;
    font-size: 1.3rem;
    width: max-content;
    color: #fff;
    background: linear-gradient(90deg, #fff400, #ffa601);
    border-radius: 50%;
    margin: 0 var(--mb-2)
  }
  
  .footer__icon:nth-child(4n+2){
    font-size: 1.5rem;
    padding: 8px 11px;
    font-size: 1.3rem;
    width: max-content;
    color: #fff;
    background: linear-gradient(90deg, #ff9f05 ,#f3503c);
    border-radius: 100%;
    margin: 0 var(--mb-2)
  }
  
  .footer__icon:nth-child(4n+3){
    font-size: 1.5rem;
    padding: 8px 11px;
    font-size: 1.3rem;
    width: max-content;
    color: #fff;
    background: linear-gradient(90deg,  #ee4248, #d53567);
    border-radius: 100%;
    margin: 0 var(--mb-2)
  }
  
  .footer__icon:nth-child(4n+4){
    font-size: 1.5rem;
    padding: 8px 11px;
    font-size: 1.3rem;
    width: max-content;
    margin-bottom: var(--mb-2);
    color: #fff;
    background:linear-gradient(90deg,  #d23369, #a01495);
    border-radius: 100%;
    margin: 0 var(--mb-2)
  }
  
  .footer__icon:nth-child(4n+5){
    font-size: 1.5rem;
    padding: 8px 11px;
    font-size: 1.3rem;
    width: max-content;
    margin-bottom: var(--mb-2);
    color: #fff;
    background:linear-gradient(90deg, #a01495, #405DE6);
    border-radius: 100%;
    margin: 0 var(--mb-2)
  }
  
  .footer__icon:hover{
    background: linear-gradient(90deg, #fff400, #ffa601, #ff9f05 ,#f3503c, #ee4248, #d53567);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    transition: 5s ease-in-out;
  }